{% extends 'base/base.html' %}
{% load static %}

{% block title %}Изменить количество{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}


<div class="form-container">
    <div class="form-title">
		<label class="fs-3">Изменить количество</label>
	</div>
    <form action="{% url 'changeStock' product.id %}">
        <div class="form-group">
            <div class="row">
                <div class="row">
        <input type="number" class="form-control" min="1" max="100000000" name="newStock" placeholder="{{ product.stock }}">
        
    </div>
    </div>
    <div class="row">
        <div class="row">
        <input type="submit" value="Изменить" class="btn btn-primary">
    </div>
    </div>
    </div>
    </form>
</div>

{% endblock %}