div.base-header{
    background-color: rgb(220, 0, 0);
    position: fixed;
    width: 100%;
    height: auto;
    margin-top: -7%;
}

div.container{
    margin-top: 7%;
    margin-left: 6%;
}

div.form-container{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7%;
    text-align: center;
}

div.row{
    margin-top: 0.2%;
}

div.signup-link{
    margin-top: 1%;
}

div.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 7%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
  
div.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 15%;
    font-size: 150%;
    text-align: center;
    height: 100%;
}

hr.dropdown-line{
    margin-bottom: 0;
    margin-top:0;
}

img.seller-image {
    display: block;
    max-width:45%;
    max-height:18%;
    width: auto;
    height: auto;
    border-radius: 10px;
  }

div.seller-info-and-image{
    padding-top: 2%;
    width:100%;
    margin-left: 15%;
    font-size:large;
}

div.seller-info-container{
    float:left;
    width: 50%;
}

div.seller-image-container{
    float: right;
    width: 50%;
}