div.base-header{
    background-color: rgb(220, 0, 0);
    position: fixed;
    width: 100%;
    height: auto;
    margin-top: -7%;
    z-index: 10;
}

div.container{
    margin-top: 7%;
    margin-left: 6%;
}

div.form-container{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7%;
    text-align: center;
}

div.row{
    margin-top: 0.2%;
}


div.signup-link{
    margin-top: 1%;
}

div.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 7%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }
  
div.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 15%;
    font-size: 150%;
    text-align: center;
    height: 100%;
}

hr.dropdown-line{
    margin-bottom: 0;
    margin-top:0;
}

img.seller-image {
    display: block;
    max-width:400px;
    max-height:250px;
    border-radius: 10px;
  }

div.seller-info-and-image{
    padding-top: 2%;
    width:100%;
    margin-left: 15%;
    font-size:large;
}

div.seller-info-container{
    float:left;
    width: 50%;
    word-wrap: break-word;
    padding-right: 5%;
}

div.seller-image-container{
    float: right;
    width: 50%;
}

div.product-page{
    width:100%;
    font-size:large;
}

div.product-info{
    float:right;
    width: 25%;
    position: fixed;
    bottom: 30%;
    right: 5%;
    z-index: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

img.product-image {
    display: block;
    max-width:400px;
    max-height:400px;
    border-radius: 5px;
}

a.product-image-link{
    max-width:400px;
    max-height:400px;
    border-radius: 5px;
}

.product-title{
    margin-top: 5%;
    word-wrap: break-word;
    width: 90%;
}

span.product-page-price-discount{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(255, 20, 20);
}

.image-line{
    width: 35%
}

span.discount{
    color:white;
    background-color: rgb(255, 20, 20);
    border-radius: 4px;
    padding: 1%;
}

div.product-description{
    margin-top: -7%;
}

div.product-description-text{
    font-size: large;
    margin-left: 2%;
    width: 60%;
    word-wrap: break-word;
}