{% extends 'base/base.html' %}
{% load static %}

{% block title %}Изменить данные{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}


<div class="form-container">
    <div class="form-title">
		<label class="fs-3" style="margin-left: -5%;">{{title}}</label>
	</div>
    <p>{{text}}</p>
    <form action="{% url formAction %}">
        <div class="form-group">
            <div class="row">
                <div class="row">
        <input type="text" class="form-control" name="{{inputName}}" placeholder="{{placeholder}}">
    </div>
</div>
        
    <div class="row">
        <div class="row">
        <input type="submit" value="Отправить" class="btn btn-primary">
    </div>
    </div>
    </div>
    </form>
</div>

{% endblock %}