{% extends 'base/base.html' %}
{% load static %}
{% load productTag %}

{% block title %}Tech-Katalog{% endblock %}

{% block extraheader %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="product-page">
    {% if product.seller.user == user %}
    <div class="product-title-and-images">
      <h2 class="product-title">{{ product.name }}</h2>
    </div>
    <div class="product-images">
      <p>Главное изображение</p>
      <img src="{{ product.main_image.url }}" class="product-image">
      {% if images %}
      <hr class="image-line">
      <p>Дополнительные избражения</p>
      {% endif %}
      {% for image in images %}
      <img src="{{ image.image.url }}" class="product-image" style="margin-bottom: 1%;">
      <form action="{% url 'deleteImage' product.id image.id %}">
      <button type="submit" class="btn btn-outline-danger"><span class="bi bi-trash" style="color: rgb(255, 0, 0);"></span> Удалить изображение</button>
    </form>
      <hr class="image-line">
      {% endfor %}
      <hr style="visibility: hidden; margin-bottom: 7%;">
    </div>
    
    <div class="product-info">
      {% if not discount %}
      <h2>{{ product.price }} ₽</h2>
      {% else %}
      <span class="product-page-price-discount">{% getPriceWithDiscount product.price discount.value %} ₽</span> <span class="discount"><b> -{{ discount.value }}%</b></span>
      <p style="margin-bottom: 0; font-size: smaller;"><s>{{ product.price }} ₽</s>.<br>Скидка действует до {{ discount.getdate }}.</p>
      {% endif %}
      {% if product.stock %}
      <p>Количество: {{ product.stock }} шт.</p>
      {% else %}
      <p>Нет в наличии</p>
      {% endif %}
      <hr style="visibility: hidden; margin-top: 0; margin-bottom: 0;">
      <p>Это Ваш товар. <a href="{% url 'productManagement' %}" class="link-dark">Профиль продавца</a></p>
      <a href="{% url 'newData' product.id path %}" class="text-decoration-none">
        <button class="btn btn-primary">Изменить данные</button>
      </a>
      <hr style="visibility: hidden; margin-top: 0; margin-bottom: 1%;">
      <a href="{% url 'addProductImage' product.id %}" class="text-decoration-none">
        <button class="btn btn-dark">Добавить изображение</button>
      </a>
      <hr style="visibility: hidden; margin-top: 0; margin-bottom: 1%;">
      <a href="{% url 'makeDiscountPage' product.id path %}" class="text-decoration-none">
        <button class="btn btn-danger">Сделать скидку</button>
      </a>
    </div>
    {% else %}
    <div class="product-title-and-images">
        <h2 class="product-title">{{ product.name }}</h2>
        <div  style="width:500px; height:500px; margin-top: 5%; margin-left: -1%; align-items: center;">
        {% if images %}
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
              <div style="align-items: center;">
                    <img class="product-image" alt="..." src="{{ product.main_image.url }}">
                  </div>
              </div>
            {% for image in images %}
            <div class="carousel-item">
              <div style="align-items: center;">
                    <img class="product-image" alt="..." src="{{ image.image.url }}">
                  </div>
              </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next" style="margin-right:0%">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>
          {% else %}
          <img class="product-image" style="margin-left: 10%;" alt="..." src="{{ product.main_image.url }}">
          {% endif %}
        </div>
      </div>
      <div class="product-info">
        {% if not discount %}
        <h2>{{ product.price }} ₽</h2>
        {% else %}
        <span class="product-page-price-discount">{% getPriceWithDiscount product.price discount.value %} ₽</span> <span class="discount"><b> -{{ discount.value }}%</b></span>
        <p style="margin-bottom: 0; font-size: smaller;"><s>{{ product.price }} ₽</s>.<br>Скидка действует до {{ discount.getdate }}.</p>
        {% endif %}
        {% if product.stock %}
        <p>Количество: {{ product.stock }} шт.</p>
        <a href="#">
          <button class="btn btn-danger">Добавить в корзину</button>
        </a>
        {% else %}
        <p>Нет в наличии</p>
        {% endif %}
        <hr style="visibility: hidden;">
        <p>Продавец: <a href="{% url 'seller' seller.id %}" class="link-dark">{{ seller }}</a></p>
      </div>
  {% endif %}
  </div>
  <div class="product-description">
    <h3>Описание</h3>
    <div class="product-description-text">
    <p>
      {% autoescape on %}
      {{product.description|linebreaks}}
      {% endautoescape %}
    </p>
  </div>
  </div>
  {% if not product.seller.user == user %}
  <div class="make-review">
    {% if productRating %}
    <h3>Изменить отзыв на товар</h3>
    <p>Последний отзыв был оставлен: {{ productRating.getdate }}.</p>
    <form action="{% url 'makeProductReview' product.id %}">
      <div class="form-group">
        <ul class="rating-list">
          {% if productRating.value == 1 %}
            <li class="rating-element"><input type="radio" name="rating" value="1" checked="checked" /> 1 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% else %}
          <li class="rating-element"><input type="radio" name="rating" value="1" /> 1 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% endif %}
            <li class="rating-element"><div class="vertical"></div></li>
            {% if productRating.value == 2 %}
            <li class="rating-element"><input type="radio" name="rating" value="2" checked="checked" /> 2 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% else %}
          <li class="rating-element"><input type="radio" name="rating" value="2" /> 2 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% endif %}
            <li class="rating-element"><div class="vertical"></div></li>
            {% if productRating.value == 3 %}
            <li class="rating-element"><input type="radio" name="rating" value="3" checked="checked" /> 3 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% else %}
          <li class="rating-element"><input type="radio" name="rating" value="3" /> 3 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% endif %}
            <li class="rating-element"><div class="vertical"></div></li>
            {% if productRating.value == 4 %}
            <li class="rating-element"><input type="radio" name="rating" value="4" checked="checked" /> 4 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% else %}
          <li class="rating-element"><input type="radio" name="rating" value="4" /> 4 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% endif %}
            <li class="rating-element"><div class="vertical"></div></li>
            {% if productRating.value == 5 %}
            <li class="rating-element"><input type="radio" name="rating" value="5" checked="checked" /> 5 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% else %}
          <li class="rating-element"><input type="radio" name="rating" value="5" /> 5 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          {% endif %}
          </ul>
            <div class="row">
  <div class="row">
    <textarea class="form-control" name="reviewText" placeholder="Напишите отзыв">{{ productRating.text }}</textarea>
  </div>
  </div>
  
  
<div class="row">
  <div class="row">
  <input type="submit" value="Отправить" class="btn btn-dark">
</div>
</div>
</div>
    {% else %}
  <h3>Оценить товар</h3>
  <form action="{% url 'makeProductReview' product.id %}">
    <div class="form-group">
      <ul class="rating-list">
          <li class="rating-element"><input type="radio" name="rating" value="1" /> 1 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li>
          <li class="rating-element"><div class="vertical"></div></li>
          <li class="rating-element"><input type="radio" name="rating" value="2" /> 2 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li> 
          <li class="rating-element"><div class="vertical"></div></li>
          <li class="rating-element"><input type="radio" name="rating" value="3" /> 3 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li> 
          <li class="rating-element"><div class="vertical"></div></li>
          <li class="rating-element"><input type="radio" name="rating" value="4" /> 4 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li> 
          <li class="rating-element"><div class="vertical"></div></li>
          <li class="rating-element"><input type="radio" name="rating" value="5" checked="checked" /> 5 <span id="boot-icon" class="bi bi-star-fill" style="font-size: 1rem; color: rgb(255, 210, 48);"></span></li> 
        </ul>
          <div class="row">
<div class="row">
  <textarea class="form-control" name="reviewText" placeholder="Напишите отзыв"></textarea>
</div>
</div>
<div class="row">
  <div class="row">
  <input type="submit" value="Отправить" class="btn btn-dark">
</div>
</div>
{% endif %}
  </form>
</div>
  {% endif %}
</div>

{% endblock %}